:root {
  --meter-bar-color: #000;
  --border-radius: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 5vw;
  max-width: 960px;
  line-height: 1.5;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
}

.colour-search {
  max-width: 300px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.colour-search__label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.colour-search__input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #000;
  border-radius: var(--border-radius);
}

.colour-list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 0;
  list-style: none;
}

.list-item {
  height: 150px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: var(--border-radius);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.list-item__panel {
  display: flex;
  flex: 1;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.list-item__name {
  background-color: #fff;
  padding: 0.25rem .5rem;
  margin-bottom: auto;
  margin-right: auto;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: var(--border-radius) 0 var(--border-radius) 0;
  font-weight: bold;
  text-transform: capitalize;
}

.list-item__hex {
  padding: 0.5rem;
  border-top: 1px solid #000;
  border-radius: 0 0 5px 5px;
  background-color: #e1e1e1;
}